.cart {
    font-family: 'ChivoRegular', sans-serif;
    font-size: 1.4rem;

    i, h3 {
        display: inline;
    }

    h3 {
        margin-left: 1rem;
    }
    
    @include respond(phone) {
        font-size: 4rem;
    }
}