.cart {
    &,
    &:link,
    &:visited {
        font-family: 'ChivoRegular', sans-serif;
        font-size: 1.4rem;
        color: $color-grey-light-2;
        text-decoration: none;
        cursor: pointer;

        i, h3 {
            display: inline;
        }

        h3 {
            margin-left: 1rem;
        }
        
        @include respond(phone) {
            font-size: 4rem;
        }
    }
}

.cart-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-grey-light-1, 1);

    // hidden modal
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    @include respond(phone) {
        // position: initial;
        background-color: $color-white;
    }

    &:target {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &__content {
        @include absCenter;
        width: 70rem;
        height: 60rem;
        background: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 1rem;
        padding: 6rem;

        @include respond(tablet) {
            top: 35%;
            width: 95%;
        }

        @include respond(phone) {
            top: 15%;
            width: 100%;
            box-shadow: none;
        }

        &-heading {
            font-size: 2.8rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #D8D8D8;
            
            @include respond(phone) {
                margin-top: 8rem;
                font-size: 10rem;
                padding-bottom: 5rem;
                border-bottom: 2px solid #D8D8D8;
            }
        }

        &-img {
            width: 6rem;
            @include absCenter;

            @include respond(phone) {
                top: 100%;
                width: 20rem;
            }
        }

        &-message {
            @include absCenter;
            top: 60%;
            width: 25%;
            color: $color-grey-light-3;
            font-size: 1.6rem;
            text-align: center;
            font-family: 'HelveticaNeue';
            margin-top: 1.5rem;

            @include respond(tablet) {
                font-size: 2.1rem;
            }

            @include respond(phone) {
                font-size: 5rem;
                top: 130%;
                width: 40%;
            }
        }
    }

    &__close-button {
        float: right;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
    }
    
    &__close-icon {
        float: right;
        // font-family: 'ChivoLight', sans-serif;
        // font-size: 2rem;
        width: 1px;
        height: 2.5rem;
        background-color: $color-grey-light-3;
        text-decoration: none;
        cursor: pointer;

        @include respond(phone) {
            height: 7rem;
        }
        
        &-1 {
            transform: rotate(135deg);
        }

        &-2 {
            transform: rotate(-135deg);
        }
    }
}