@font-face {
  font-family: 'ChivoLight';
  src: url("./fonts/Chivo-Light.ttf"); }

@font-face {
  font-family: 'ChivoRegular';
  src: url("./fonts/Chivo-Regular.ttf"); }

@font-face {
  font-family: 'ChivoBold';
  src: url("./fonts/Chivo-Bold.ttf"); }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/HelveticaNeue.ttf"); }

/* Media Queries

0 - 600:        phone
600 - 900:      tablet-portait
[1200 - 1800]:  desktop (regular styles)
1800+:          big desktop

(from given sketch)
Desktop         1280 x 1135
Tablet          768 x 958
Phone           320 x 1313

$breakpoint args:
- phone
- tablet
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  width: 100rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #F5F5F5; }
  @media (max-width: 56.25em) {
    body {
      margin: 0;
      padding: 6rem; } }
  @media (max-width: 37.5em) {
    body {
      padding: 3rem; } }

body {
  font-family: 'ChivoRegular', sans-serif;
  color: #000; }

.heading-primary {
  font-family: 'ChivoBold';
  font-size: 5.1rem;
  color: #292929;
  letter-spacing: -1.07px;
  line-height: 4.4rem;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 3.4rem;
  margin-bottom: 2.9rem; }
  @media (max-width: 56.25em) {
    .heading-primary {
      margin-bottom: 2.5rem;
      font-size: 3.8rem;
      letter-spacing: -0.8px; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.4rem !important; }

/*
margins im working with

30 pixels per product
15 pixels separating inventory to product title
34 pixels for acme store and border

*/
.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  color: #FFF;
  background-color: #5E97D1; }
  @media (max-width: 56.25em) {
    .btn {
      font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 1.2rem;
      padding: 0.7rem 1.5rem; } }
  .btn:hover {
    background-color: #407FC0;
    cursor: pointer; }
  .btn:disabled {
    opacity: 0.3; }

.product {
  background: #FFF;
  overflow: hidden;
  border-radius: 0.8rem;
  width: 100%;
  display: flex; }
  .product__img {
    width: 38rem;
    height: 25rem;
    object-fit: cover; }
    @media (max-width: 56.25em) {
      .product__img {
        width: 32rem;
        height: 24rem; } }
  .product__column {
    width: 100%;
    margin: 2.5rem 3.5rem; }
    @media (max-width: 56.25em) {
      .product__column {
        margin: 3rem 4rem; } }
  .product__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; }
    .product__heading-title {
      font-size: 3.8rem;
      letter-spacing: -0.41px; }
      @media (max-width: 56.25em) {
        .product__heading-title {
          font-size: 4.2rem; } }
    .product__heading-price {
      font-size: 2.1rem;
      font-family: 'ChivoLight', sans-serif;
      letter-spacing: -0.27px; }
      @media (max-width: 56.25em) {
        .product__heading-price {
          font-size: 2.5rem; } }
  .product__sub-heading {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #9B9B9B;
    margin-bottom: 10rem; }
    @media (max-width: 56.25em) {
      .product__sub-heading {
        font-size: 1.8rem;
        margin-bottom: 7rem; } }

.cart {
  float: right; }
