@font-face {
  font-family: 'ChivoLight';
  src: url("./fonts/Chivo-Light.ttf"); }

@font-face {
  font-family: 'ChivoRegular';
  src: url("./fonts/Chivo-Regular.ttf"); }

@font-face {
  font-family: 'ChivoBold';
  src: url("./fonts/Chivo-Bold.ttf"); }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/HelveticaNeue.ttf"); }

/* Media Queries

0 - 600:        phone
600 - 900:      tablet-portait
[1200 - 1800]:  desktop (regular styles)
1800+:          big desktop

(from given sketch)
Desktop         1280 x 1135
Tablet          768 x 958
Phone           320 x 1313

$breakpoint args:
- phone
- tablet
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  width: 100rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #F5F5F5; }
  @media (max-width: 56.25em) {
    body {
      margin: 0;
      padding: 6rem; } }
  @media (max-width: 37.5em) {
    body {
      padding: 8rem; } }

body {
  font-family: 'ChivoRegular', sans-serif;
  color: #000; }

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'ChivoBold';
  color: #292929;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 3.4rem;
  margin-bottom: 2.9rem; }
  @media (max-width: 56.25em) {
    .heading {
      margin-bottom: 2.5rem;
      letter-spacing: -0.8px; } }
  @media (max-width: 37.5em) {
    .heading {
      display: block;
      font-size: 5rem;
      padding-bottom: 3.4rem;
      margin-bottom: 2.9rem; } }
  .heading__primary {
    font-size: 5.1rem;
    letter-spacing: -1.07px;
    line-height: 4.4rem; }
    @media (max-width: 37.5em) {
      .heading__primary {
        font-size: 8.1rem;
        line-height: 10rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.4rem !important; }

/*
margins im working with

30 pixels per product
15 pixels separating inventory to product title
34 pixels for acme store and border

*/
.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  color: #FFF;
  background-color: #5E97D1; }
  @media (max-width: 56.25em) {
    .btn {
      font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 5rem;
      padding: 3rem 5rem; } }
  .btn:hover {
    background-color: #407FC0;
    cursor: pointer; }
  .btn:disabled {
    opacity: 0.3; }

.product {
  background: #FFF;
  overflow: hidden;
  border-radius: 0.8rem;
  width: 100%;
  display: flex; }
  @media (max-width: 37.5em) {
    .product {
      flex-direction: column; } }
  .product__img {
    width: 38rem;
    height: 28rem;
    object-fit: cover; }
    @media (max-width: 56.25em) {
      .product__img {
        width: 32rem; } }
    @media (max-width: 37.5em) {
      .product__img {
        width: 100%;
        height: 100%; } }
  .product__column {
    width: 100%;
    margin: 2.5rem 3.5rem; }
    @media (max-width: 56.25em) {
      .product__column {
        margin: 3rem 4rem; } }
    @media (max-width: 37.5em) {
      .product__column {
        width: initial;
        margin: 4rem 6rem; } }
  .product__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; }
    .product__heading-title {
      font-size: 3.8rem;
      letter-spacing: -0.41px; }
      @media (max-width: 56.25em) {
        .product__heading-title {
          font-size: 4.2rem; } }
      @media (max-width: 37.5em) {
        .product__heading-title {
          font-size: 8rem; } }
    .product__heading-price {
      font-size: 2.1rem;
      font-family: 'ChivoLight', sans-serif;
      letter-spacing: -0.27px; }
      @media (max-width: 56.25em) {
        .product__heading-price {
          font-size: 2.5rem; } }
      @media (max-width: 37.5em) {
        .product__heading-price {
          font-size: 6rem; } }
  .product__sub-heading {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #9B9B9B;
    margin-bottom: 10rem; }
    @media (max-width: 56.25em) {
      .product__sub-heading {
        font-size: 1.8rem;
        margin-bottom: 7rem; } }
    @media (max-width: 37.5em) {
      .product__sub-heading {
        font-size: 4.5rem; } }

.cart, .cart:link, .cart:visited {
  font-family: 'ChivoRegular', sans-serif;
  font-size: 1.4rem;
  color: #292929;
  text-decoration: none;
  cursor: pointer; }
  .cart i, .cart h3, .cart:link i, .cart:link h3, .cart:visited i, .cart:visited h3 {
    display: inline; }
  .cart h3, .cart:link h3, .cart:visited h3 {
    margin-left: 1rem; }
  @media (max-width: 37.5em) {
    .cart, .cart:link, .cart:visited {
      font-size: 4rem; } }

.cart-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .cart-modal:target {
    opacity: 1;
    visibility: visible;
    z-index: 1; }
  .cart-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 50rem;
    background: #FFF;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 6rem; }
    .cart-modal__content-heading {
      font-size: 2.8rem; }
    .cart-modal__content-img {
      width: 6rem;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .cart-modal__content-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25%;
      color: #9B9B9B;
      font-size: 1.6rem;
      text-align: center;
      font-family: 'HelveticaNeue';
      margin-top: 1.5rem; }
  .cart-modal__close-button {
    float: right;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem; }
  .cart-modal__close-icon {
    float: right;
    width: 1px;
    height: 2.5rem;
    background-color: #9B9B9B;
    text-decoration: none;
    cursor: pointer; }
    .cart-modal__close-icon-1 {
      transform: rotate(135deg); }
    .cart-modal__close-icon-2 {
      transform: rotate(-135deg); }
