// Project wide font definitions
body {
    font-family: 'ChivoRegular', sans-serif;
    color: $color-black;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'ChivoBold';
    color: #292929;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 3.4rem;
    margin-bottom: 2.9rem;

    @include respond(tablet) {
        margin-bottom: 2.5rem;
        letter-spacing: -0.8px;
    }

    @include respond(phone) {
        display: block;
        font-size: 5rem;
        padding-bottom: 3.4rem;
        margin-bottom: 2.9rem;
    }

    &__primary {
        font-size: 5.1rem;
        letter-spacing: -1.07px;
        line-height: 4.4rem;

        @include respond(phone) {
            font-size: 8.1rem;
            line-height: 10rem;
        }
    }
}