// FONTS
$font-helvetica: Helvetica;
$font-chivo: "Chivo", sans-serif;

// COLORS

$color-primary: #5E97D1; // button color
$color-primary-dark: #407FC0; // hover botton color

$color-grey-light-1: #F5F5F5;
$color-grey-light-2: #D8D8D8;

$color-white: #FFF;
$color-black: #000;